* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: white;
}

body {
    background-color: #1a1527;
}

header {
    background-color: black;
    height: 35em;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0.4em;
}

nav :nth-child(1) {
    flex: 1;
}

.logo {
    font-size: xxx-large;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    padding-right: 1em;
    font-size: larger;
    text-decoration: none;
}

.start {
    display: grid;
    align-content: center;
    margin: 10em 18em;
    height: 12em;
    position: relative;
}

.start h1,
h3 {
    line-height: 1.5em;
}

.start h4 {
    padding-bottom: 2em;
}

.work {}

.intro {
    display: flex;
    flex-direction: column;
    margin: 0 18em;
    padding: 2em 0;
}

.projects {
    display: grid;
}

.links {
    margin: 8em 18em;
}

.dragLine {
    background-color: #5918df;
    height: 500%;
    left: -19px;
    position: absolute;
    top: 13px;
    width: 1px;
}