* {
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    color: white;
    cursor: none;
}

body {
    background-color: #1a1527;
}

.bullet,
.bullet:before {
    position: absolute;
}

.bullet:before {
    background-color: #1b191e;
    border: 2px solid #5918df;
    border-radius: 50%;
    content: "";
    height: 9px;
    left: -25px;
    position: absolute;
    top: 5px;
    width: 9px;
}

header {
    background-color: black;
    height: 35em;
}

nav {
    display: flex;
    flex-direction: row;
    margin: 0.4em;
}

nav :nth-child(1) {
    margin-left: 0.5em;
    flex: 1;
}

.logo {
    font-size: xxx-large;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    padding-right: 1em;
    font-size: x-large;
    color: grey;
    text-decoration: none;
    z-index: 5;
}

.navbar a:hover {
    color: white;
}

.start {
    display: grid;
    align-content: center;
    margin: 10em 18em;
    height: 14em;
    position: relative;
}

.start h1 {
    font-size: xxx-large;
}

.start h1,
.start h3 {
    line-height: 1.5em;
}

.start h4 {
    padding-bottom: 2em;
}

.intro {
    display: flex;
    flex-direction: column;
    margin: 0 18em;
    padding: 2em 0;
}

.projects {
    display: grid;
}

.links {
    margin: 8em 18em;
}

.dragLine {
    background-color: #5918df;
    height: 500%;
    left: -19px;
    position: absolute;
    top: 13px;
    width: 1px;
}

.small {
    width: 3px;
    height: 3px;
    background-color: white;
    border: 2px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -2.1px;
    left: -2.9px;
    z-index: 0;
}

.big {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 50%;
    border: #fff solid 2px;
    position: absolute;
    top: -11px;
    left: -11px;
    z-index: 0;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}